@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Inicio</h1>
<h3>Bienvenido a esta tarea!</h3>
<p>Espero que le guste mucho y muchísimas gracias por verla. </p>


<img style="border-radius: 3%;" class="img-fluid" src="https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2023/01/bill-gates-2932392.jpg?tf=3840x" alt="">

<h3 class="m-3">Mira, esta grandiosa frase motivadora:</h3>

<div class="alert alert-primary" role="alert">
"No te compares con nadie en este mundo... si lo haces, te estás insultando a ti mismo". 
- Bill Gates.
</div>


